body {
  background-color: lightgray;
  font-family: palatino, serif;
  font-size: 12pt;
}

@media screen and (min-width: 481px) {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  a {
    color: lime;
  }
}

.squareBullets {
  list-style-type: square;
  padding-left: 10px;
  margin-left: 10px;
}

.noBullets {
  list-style-type: none;
  padding-left: 0px;
  margin-left: none;
}
