body {
  background-color: lightgray;
  font-family: palatino, serif;
  font-size: 12pt;
  width: 100%;
}

aside {
  border-style: inset;
  margin-right: 10px;
  padding: 5px;
}

.squareBullets {
  list-style-type: square;
  padding-left: 10px;
  margin-left: 10px;
}

.noBullets {
  list-style-type: none;
  padding-left: 0px;
  margin-left: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  a {
    color: lime;
  }
}
