body {
  background-color: lightgray;
  font-family: palatino, serif;
  font-size: 12pt;
  padding: 10px;
}

aside {
  border-style: solid;
  border-color: white black black white;
  padding: 10px;
}

.squareBullets {
  list-style-type: square;
  padding-left: 10px;
  margin-left: 10px;
}

.noBullets {
  list-style-type: none;
  padding-left: 0px;
  margin-left: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  a {
    color: lime;
  }

  aside {
    border-color: lightgray gray gray lightgray;
  }
}
